.Navigation {
    ul{
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;
        width: 42%;
        li{
            margin: 10px 0;
            box-sizing: border-box;
            display: block;
            width: auto;
            padding: 10px 20px; 
            a{
                color: #fff;
                font-weight: bold;
                text-decoration: none;
                width: 100%;
                box-sizing: border-box;
                display: block;
                text-transform: uppercase;   
                padding: 5px;             
            }
       }
       
    }
    .active{
        border-top: 2px solid white;
    }
    
}
